<#include "head.html">
<link rel="stylesheet" href="/styles/letter.css">

<div id="main">
    <div class="zg-wrap zu-main clearfix ">
        <ul class="letter-chatlist">
            <#list vos as vo>
            <#if vo.status=1>
            <li id="msg-item-4009580">

                    <a class="list-head">
                        <img alt="头像" src="${vo.user.headUrl}">
                    </a>
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner letter-chat clearfix">
                        <div class="letter-info">
                            <p class="letter-time">${vo.message.createDate?string("yyyy年MM月dd日 HH:mm:ss")}</p>
                            <a href="/user/${user.id!''}" id="del-link" name="4009580">来自${vo.user.name}</a>
                        </div>
                        <p class="chat-content">
                            ${vo.message.content}
                        </p>
                    </div>
            </li>
                    <#else>
                        <li id="msg-item-4009581">

                            <a style="right: auto" class="list-head">
                                <img alt="头像" src="${vo.user.headUrl}">
                            </a>
                            <div class="tooltip-inner letter-chat clearfix">
                                <div class="letter-info">
                                    <p class="letter-time">${vo.message.createDate?string("yyyy年MM月dd日 HH:mm:ss")}</p>
                                    <a href="/user/${user.id!''}" name="4009580">本人</a>
                                </div>
                                <p class="chat-content">
                                    ${vo.message.content}
                                </p>
                            </div>
                        </li>
                    </#if>
            </#list>
        </ul>

    </div>
</div>


<#include "foot.html">